<div class="container">
    <div class="d-flex justify-content-end mb-3">
        <button type="button" class="btn btn-primary" (click)="onCreate()">Add New</button>
    </div>

    <table class="table table-striped">
        <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Name</th>
            <th scope="col">Email</th>
            <th scope="col"></th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let user of users$ | async">
            <th scope="row">{{ user.id }}</th>
            <td (click)="onEdit(user)"><a class="link-primary cursor-pointer">{{ user.name }}</a></td>
            <td>{{ user.email | email }}</td>
            <td>
                <span class="user-list__close-icon" (click)="onRemove(user.id)">&#215;</span>
            </td>
        </tr>
        </tbody>
    </table>

    <div *ngIf="loading$ | async" class="position-absolute h-100 w-100 top-0 start-0 d-flex justify-content-center align-items-center bg-dark bg-transparent">
        <div class="spinner-border" role="status">
            <span class="sr-only"></span>
        </div>
    </div>
</div>

<app-toast></app-toast>
